/*  Color Pallete:
    American Blue: #3C3B6E
    American Red: #B22234
    White: #FFFFFF
    Black: #000000
*/

/* Global Styles */
*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}
.wrapper{
    max-width: 1200px;
    margin: auto;
}
body, p, h1, h2, h3, h4, h5, h6,
ul, li, a, button, form, fieldset, legend,
input, div, header{
    padding: 0;
    margin: 0;
}

ul{
    list-style: none;   
}

a{
    text-decoration: none;
}

/* header style */
.header-section{
    background: #3C3B6E;
}
.header-section h1{
    padding: 20px;
    text-transform: uppercase;
    font-weight: 600;
    color: #FFFFFF;
}
.header-section .wrapper{
    text-align: center;
}