/*  Color Pallete:
    American Blue: #3C3B6E
    American Red: #B22234
    White: #FFFFFF
    Black: #000000
*/

/* Global Styles */
*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}
.wrapper{
    max-width: 90%;
    margin: auto;
}
body, p, h1, h2, h3, h4, h5, h6,
ul, li, a, button, form, fieldset, legend,
input, div, header{
    padding: 0;
    margin: 0;
}

ul{
    list-style: none;   
}
.app-button{
    border: none;
    background: #3C3B6E;
    padding: 8px 25px;
    font-size: .9em;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
}
.app-button:focus,
.app-button:hover{
    background: rgb(14, 135, 175);
    transition: .3s ease;
}
a:visited{
    color: blue;
}
/* header style */
.header-section{
    background: #B22234;
}
.header-section h1{
    padding: 20px;
    text-transform: uppercase;
    font-weight: 600;
    color: #FFFFFF;
}
.header-section .wrapper{
    text-align: center;
}

/* Form Styling */
.search-form{
    margin: auto;
    padding: 30px 0px;
    max-width: 600px;
}
.search-form fieldset{
    border: none;
}
.search-form input[type="text"],
.search-form input[type="number"]{
    width: 100%;
    padding: 5px;
    text-transform: uppercase;
}
.search-form-legend{
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    padding: 10px;
}
.search-form-label{
    display: block;
    padding: 10px 0px;
}
.submit-button-wrapper{
    text-align: center;
    padding: 20px;
}
/* Showing results section style */
.showing-results-section .wrapper{
    border-bottom: 2px solid #3C3B6E;
    /* max-width: 700px; */
}
.showing-results{
    padding: 0px 50px 30px 50px;
    max-width: 700px;
    margin: auto;
    font-size: 0.9em;   
}
/* Search Result Styles */
.park{
    padding: 50px;
    max-width: 700px;
    margin: auto;
    border-bottom: 2px solid #3C3B6E;
}
.park-full-name{
    text-transform: uppercase;
    font-size: 1em;
}
.park-full-name a{
    text-decoration: underline;
}
.location{
    margin-top: 10px;
    font-size: 0.9em;
}
.park-description{
    font-size: .9em;
    line-height: 1.6em;
    padding: 10px 0px;
}
.park-links{
    font-size: 0.9em;
}

/* Footer style */
.footer-section{
    text-align: center;
    padding: 20px;
    font-size: 0.8em;
    text-transform: uppercase;
}

@media only screen and (max-width: 480px){
    .park{
        padding: 20px 10px;
    }
    .showing-results{
        padding: 0px 10px 30px 10px;
    }
}