/*  Color Pallete:
    American Blue: #3C3B6E
    American Red: #B22234
    White: #FFFFFF
    Black: #000000
*/

/* Global Styles */
*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}
.wrapper{
    max-width: 1200px;
    margin: auto;
}
body, p, h1, h2, h3, h4, h5, h6,
ul, li, a, button, form, fieldset, legend,
input, div, header{
    padding: 0;
    margin: 0;
}

ul{
    list-style: none;   
}

a{
    text-decoration: none;
}
.app-button{
    border: none;
    background: #3C3B6E;
    padding: 8px 25px;
    font-size: .9em;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
}
.app-button:focus,
.app-button:hover{
    background: rgb(14, 135, 175);
    transition: .3s ease;
}
/* header style */
.header-section{
    background: #B22234;
}
.header-section h1{
    padding: 20px;
    text-transform: uppercase;
    font-weight: 600;
    color: #FFFFFF;
}
.header-section .wrapper{
    text-align: center;
}

/* Form Styling */
.search-form{
    padding: 30px 0px;
}
.search-form fieldset{
    border: none;
}
.search-form-legend{
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    padding: 10px;
}
.checkbox{
    padding: 10px;
    min-width: 210px;
}
.checkbox label input{
    margin-right: 10px;
}
.checkbox-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.submit-button-wrapper{
    text-align: center;
    padding: 10px;
}